:root {
    --vermelho:#E50914;
    --preto:#141414;
}

*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elentos base*/
body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .Logo {
    margin-left: flex-start;
    color: var(--vermelho);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    

}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    font-size: 15px;
    
}

header nav a:hover {
    color: #fff;
}

/*Filme Principal*/
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%),
     url(/img/mini0.jpg);
      
    height: 400px;
    background-size: cover;
    

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: flex-start;

}

.filme-principal .descricao {

    margin-bottom: 0px;
    margin-top: 0px ;
    
    
}

.titulo {
    margin-top: 0%;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.botao {
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;


    cursor: pointer;
    transition: .3s ease all;

}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

.box-filme {
    height: 70%;
    width: 100%;
    display: block;
    border-radius: 5%;
}

.lista-carrosel {
    font-size: 25px;
    color: #fffafa;
    margin: 1%;
    padding: 0,4%;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
 
}

.carrosel-filmes {
    margin: 5px 3px 10px 3px;
}
